extends layout

block content
  h1 Profil de #{nom}

  p Date aujourd'hui : #{aujourdhui.getDate()}/#{aujourdhui.getMonth()}/#{aujourdhui.getFullYear()} à #{aujourdhui.getHours()}:#{aujourdhui.getMinutes()}

  h2 Invitations
  each invitation in invitations
      <li><a href="parties/#{invitation.id}">Invitation pour le #{invitation.date.getDate()}/#{invitation.date.getMonth()}/#{invitation.date.getFullYear()} à #{invitation.date.getHours()}:#{invitation.date.getMinutes()}</a></li>
   
  
  h2 Cliquez sur le lien pour entrer dans la salle de jeu
  each partie in parties_acceptees
    <li><p>#{partie.date}</p><a href="http://localhost:8000?id_partie=#{partie.id}&id_joueur=#{id_utilisateur}">Partie du #{partie.date.getDate()}/#{partie.date.getMonth()}/#{partie.date.getFullYear()} à #{partie.date.getHours()}:#{partie.date.getMinutes()}</a></li>
  <h2><a href="/utilisateurs/#{id_utilisateur}/creerpartie">Créer une partie</a></h2>
  <a href="/carte/creer">Créer une carte</a>
  <a href="/connexion">Se déconnecter</a>


